.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

$yellow: #F5DD16;
$dark-grey: #7C7C7C;
$light-grey: #BEBEBE;
$red: #EE4525;

.navbar{
  background-color: $dark-grey;
  .navbar-brand{
    color: $yellow !important;
  }
}
