$yellow: #F5DD16;
$dark-grey: #7C7C7C;
$light-grey: #BEBEBE;
$red: #EE4525;

.navbar{
  background-color: $dark-grey;
  .navbar-brand{
    color: $yellow !important;
  }
}

.tasks_list{
  margin-top: 30px;
  .title{
    font-size: 32px;
    color: $dark-grey;
    font-weight: 600;
    margin-bottom: 24px;
  }
 
  .card{
    background-color: $dark-grey;
  }
}